@font-face {
	font-family: "New Rubrik";
	font-display: swap;
	src: url("../fonts/Rubrik Bold Italic.woff2") format("woff2"), url("../fonts/Rubrik Bold Italic.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: "New Rubrik";
	font-display: swap;
	src: url("../fonts/Rubrik Bold.woff2") format("woff2"), url("../fonts/Rubrik Bold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: "New Rubrik";
	font-display: swap;
	src: url("../fonts/Rubrik ExtraLight Italic.woff2") format("woff2"), url("../fonts/Rubrik ExtraLight Italic.woff") format("woff");
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: "New Rubrik";
	font-display: swap;
	src: url("../fonts/Rubrik ExtraLight.woff2") format("woff2"), url("../fonts/Rubrik ExtraLight.woff") format("woff");
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: "New Rubrik";
	font-display: swap;
	src: url("../fonts/Rubrik Italic.woff2") format("woff2"), url("../fonts/Rubrik Italic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "New Rubrik";
	font-display: swap;
	src: url("../fonts/Rubrik Light Italic.woff2") format("woff2"), url("../fonts/Rubrik Light Italic.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "New Rubrik";
	font-display: swap;
	src: url("../fonts/Rubrik Light.woff2") format("woff2"), url("../fonts/Rubrik Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "New Rubrik";
	font-display: swap;
	src: url("../fonts/Rubrik Medium Italic.woff2") format("woff2"), url("../fonts/Rubrik Medium Italic.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "New Rubrik";
	font-display: swap;
	src: url("../fonts/Rubrik Medium.woff2") format("woff2"), url("../fonts/Rubrik Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "New Rubrik";
	font-display: swap;
	src: url("../fonts/Rubrik SemiBold Italic.woff2") format("woff2"), url("../fonts/Rubrik SemiBold Italic.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: "New Rubrik";
	font-display: swap;
	src: url("../fonts/Rubrik SemiBold.woff2") format("woff2"), url("../fonts/Rubrik SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: "New Rubrik";
	font-display: swap;
	src: url("../fonts/Rubrik.woff2") format("woff2"), url("../fonts/Rubrik.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
